body {
    font-size: 16px;
    color: $union-darkgrey;
}

// app header, logo, defaults etc
#main-header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;
    color: white;
    z-index: 5000;

    .union-logo { 
        width: 104px;
        padding: 14px 0 8px 1.25em; 
    }

    nav {
        .fa-bars {
            padding: 0.5em;
            font-size: 1.75em;
            cursor: pointer;
        }

        margin-left: auto; 
    }
}