body {
    font-size: 16px;
    color: $union-darkgrey;
}

// .wrapper { margin-top: 70px; }

// app header, logo, defaults etc
header { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4px;

    background-color: white;

    // margin: 8px;

    .union-logo { 
        width: 104px;
        padding: 14px 0 8px 1.25em; 
    }

    nav {
        .fa-bars {
            padding: 1em;
            font-size: 1.25em;
        }

        margin-left: auto; 
    }
}