// quick reset
@import './reset.scss';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

$union-headline: 'Playfair Display', serif;

// colors
$union-darkgrey: #48484A;
$union-blue: #0FB3C1;
$white: #FFF;
$union-midgrey: #959494;